<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>AR managenent corporation</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/custom.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css" integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/b63bb1dcf5.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
<!--header section-->
<section class="header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href=""><img src="public/image/arl.jpg" style="height: 93px;  "></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ar me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="index.html" style="color: white">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about_us.html"style="color: white" >About US</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"style="color: white">
                                Our Services
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style=" background-color: #99ccff">
                                <li><a class="dropdown-item" href="permit.html">Permit expediting</a></li>
                                <li><a class="dropdown-item" href="business_strt.html">Business start up Consulting </a></li>

                                <!--<li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>-->
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html"style="color: white">Contact Us</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>



    </div>



</section>
<!--baner section ctrl+? mark shortcut-->
<section class="baner">

       <img src="public/image/ab.png" style="width:100%;">

</section>

<!--about us-->


<section class="aboutus">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 style="padding-top: 15px;
                    padding-bottom: 5px;
                    border-bottom: 1px solid black;
                    width: 11%;">About Us</h3>
                <p style="text-align: justify">We are a newly formed business with particular momentum behind it based on perceived demand for your product or service. Until the business gets off the ground, a startup is often financed by its founders and may attempt to attract outside investment.
                    Startups must also consider where they'll do business and their legal structure. Startups are companies or ventures that are focused around a single product or service that the founders want to bring to market. These companies typically don't have a fully developed business model and, more crucially, lack adequate capital to move onto the next phase of business. Most of these companies are initially funded by their founders.
                    <strong>AR Managemet Corporation</strong> is a company or project undertaken by an entrepreneur to seek, develop, and validate a scalable business model.While entrepreneurship refers to all new businesses, including self-employment and businesses that never intend to become registered, startups refer to new businesses that intend to grow large beyond the solo founder.
                    At the beginning, startups face high uncertainty and have high rates of failure, but a minority of them do go on to be successful and influential.Models behind startups presenting as ventures are usually associated with design science.Design science uses design principles considered to be a coherent set of normative ideas and propositions to design and construct the company's backbone.A key principle of startup is to validate the market need before providing a customer-centric product or service to avoid business ideas with weak demand. Market validation can be done in a number of ways, including surveys, cold calling, email responses, word of mouth or through sample research.
                    Design thinking is used to understand the customers' need in an engaged manner. Design thinking and customer development can be biased because they do not remove the risk of bias because the same biases will manifest themselves in the sources of information, the type of information sought, and the interpretation of that information. In startups, many decisions are made under uncertainty, and hence a key principle for startups is to be agile and flexible.Startups may form partnerships with other firms to enable their business model to operate. To become attractive to other businesses, startups need to align their internal features, such as management style and products with the market situation.
                    <br>
                    With the key learnings from market validation, design thinking, and lean startup,We can design a business model. However it's important not to dive into business models too early before there is sufficient learning on market validation.
                </p>
            </div>
        </div>
    </div>
</section>




<!--footer-->

<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h3 style="color: white">Contact US</h3>
                <p style="color: white">Address: 11615 Vantage Hill Rd Unit 11b Reston Va 20190<br>
                    Contract no:5713543644<br>
                    email:contract@armanagementcorp.org
                </p>
            </div>
            <div class="col-md-4">
                <h3 style="color: white">follow Us</h3>
                <div class="social" style="margin-left: -39px;">
                    <ul>
                        <li><a href="https://www.facebook.com/nayeemcyber/" target="_blank"><i class="fab fa-facebook"></i></a> </li>
                        <li><a href=""><i class="fab fa-twitter"></i></a> </li>
                        <li><a href=""><i class="fab fa-youtube-square"></i></a> </li>
                        <li><a href=""><i class="fab fa-google-plus"></i></a> </li>
                        <li><a href=""><i class="fab fa-linkedin"></i></a> </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p style="color: white; padding: 50px 0px 10px 0px;">
                    Copyright &copy;<script type="text/javascript">document.write(new Date().getFullYear())</script> @ar management corporation
                </p>
            </div>
        </div>
    </div>

</section>
<!--go to up-->
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="gotoup">
                <img src="public/image/scrolup.jpg" style="width: 40px; height: 40px;">
            </div>
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(window).scroll(function () {
            if($(this).scrollTop()>300){
                $('.gotoup').fadeIn();
            }else {
                $('.gotoup').fadeOut();
            }
        });
        $('.gotoup').click(function () {
            $('html,body').animate({scrollTop:0},500);
        });
    });
</script>




<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>
