<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Islami Bank Model School and College</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/custom.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css" integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/b63bb1dcf5.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
<!--Top Section-->

<section class="top">
<div class="container">
    <div class="row top">
        <div class="col-md-6">
<img class="toplogo" src="image/Logo-IBMSC.png">

    </div>
        <div class="col-md-6">

            <p class="contact">01818811220 @ nayeembd84@gmail.com</p>

        </div>

    </div>

</div>

</section>

<!--header section-->
<section class="header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href=""><img src="logo.jpg" style="height: 93px;  "></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ar me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="index.html" style="color: white">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false"style="color: white">
                                About US
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style=" background-color: #99ccff">
                                <li><a class="dropdown-item" href="permit.html">Objective</a></li>
                                <li><a class="dropdown-item" href="business_strt.html">Board of Govornors </a></li>
                                <li><a class="dropdown-item" href="business_strt.html">Officers and Staf Information </a></li>

                                <!--<li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>-->
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"style="color: white">
                              Academics
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style=" background-color: #99ccff">
                                <li><a class="dropdown-item" href="permit.html">Year Final Examination</a></li>
                                <li><a class="dropdown-item" href="business_strt.html">Teacher Information </a></li>
                                <li><a class="dropdown-item" href="business_strt.html">Student Information </a></li>

                                <!--<li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>-->
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false"style="color: white">
                                Administration
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style=" background-color: #99ccff">
                                <li><a class="dropdown-item" href="permit.html">Publication</a></li>
                                <li><a class="dropdown-item" href="business_strt.html">Booklist </a></li>


                                <!--<li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>-->
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html"style="color: white">Admission</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html"style="color: white">Result</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html"style="color: white">Payment</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html"style="color: white">Notice</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html"style="color: white">Contact Us</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>



    </div>



</section>
<!--Marque section-->
<section class="marquee">
 <div class="marquee">
  <marquee>সবাইকে মাস্ক পরে বিদ্যালয়ে আসার জন্য বিশেষ ভাবে অনুরোধ করা হল।</marquee>

 </div>

</section>
<!--slider section ctrl+? mark shortcut-->
<section class="slider">

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="sc.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="sc1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="sc2.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>



</section>

<!--mission vission-->
<section class="mission_vission">

    <div class="container">
        <div class="row">
<div class="col-md-4">
<h3 style="padding-top: 15px; padding-bottom: 5px; border-bottom: 1px solid #000000; width: 70%; font-size: 16px;" >Islami Bank Model School & College</h3>
</div>

        </div>
<div class="row">
    <div class="col-md-6">
        <img src="image/left.png" style="border: 1px solid #ddd;padding: 5px;
background: #EFEE03;border-radius: 30px; float: left; margin-right: 10px; ">
        <p style="text-align: justify;"><strong>WHO WE ARE :</strong>
            Islami Bank Model School and College is one of the most prestigious and important educational institutions in Dhaka. It is located in the Mirpur. IBMSC was established in 2005 following the curriculum of Bangladesh Education Board.  Mr. ABD is the first principal of the School. The school is housed in well decorated buildings: six storied. At present this is a two-shift school with the strength of about 1000 students. This school consists of Bangla version.<br>


        </p>
    </div>
    <div class="col-md-6">
<img src="image/right.png" style="border: 1px solid #ddd;padding: 5px;
background: #EFEE03;border-radius: 30px; float: left; margin-right: 10px; ">
        <p style="text-align: justify;"><strong>Principal Message</strong>
            A Permit Expediter is a trained professional that advises clients throughout the permitting process to keep construction projects on schedule and within budget. Permit Expediters typically have backgrounds in Planning, Construction, Real Estate, or Architecture and have experience working with local compliance codes and zoning requirements.
        </p>
    </div>
</div>

    </div>
</section>
<!--Column Notice bord-->
<section class="notice_board">
  <div class="container">
      <div class="row">
         <div class="col-md-3">
             <div class="card" style="width: 18rem;">
                 <div class="card-header">
                    Up Comming Events
                 </div>
                 <ul class="list-group list-group-flush">
                     <li class="list-group-item">An item</li>
                     <li class="list-group-item">A second item</li>
                     <li class="list-group-item">A third item</li>
                 </ul>
             </div>
         </div>
          <div class="col-md-5">
              <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
                  <div class="card-header">Notice</div>
                  <div class="card-body">
                      <marquee direction="up"> <h5 class="card-title">Light card title</h5>
                       <p class="card-text"><a href=""> Everyone will come to school wear mask.</a> </p>

                         <p class="card-text1"><a href=""> Everyone .</a> </p>
                     </marquee>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
                  <div class="card-header">Important Links</div>
                  <div class="card-body">
                      <h5 class="card-title">Light card title</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
              </div>
          </div>

      </div>


  </div>


</section>


<!--our service-->
<section class="services">
<div class="container" style="padding-top: 15px;">

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active"  data-bs-toggle="tab"  href="#service">Facilities</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="#enterprise" data-bs-toggle="tab" >Event</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="#startup" data-bs-toggle="tab">Club</a>
        </li>

    </ul>

    <div class="tab-content">
<div id="service" class="tab-pane container active">
    <h3>Facilities</h3>
    <p>Newly we have worked side by side with extraordinary leaders to help them spur changes and drive transformation in their organizations, businesses, and industries.
        Our approach draws on our experience as former leaders, our experience as consultants, and weaves together best practices in action learning, process consulting, change, and leadership development. It is results-oriented, practical, flexible, and hands-on.
        Our success is grounded in the relationships we build with clients, our approach, and our patron.</p>
</div>
        <div id="enterprise" class="tab-pane container fade">
            <h3>Event</h3>
            <p>IBMSC organized different types of events</p>
        </div>
        <div id="startup" class="tab-pane container fade">
            <h3>Club</h3>
            <p>IBMSC have different types of club activities such as debit, ICT, Music, Drama. Students are perticipate this club and express their merit.</p>
        </div>

    </div>

</div>

</section>

<!--footer-->

<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h3 style="color: white">Contact US</h3>
                <p style="color: white">Address: Islami Bank Model School and College, Mirpur,Dhala<br>
                    Contract no: 123456789<br>
                    email:abd@yahoo.com
                </p>
            </div>
            <div class="col-md-4">
                <h3 style="color: white">follow Us</h3>
                <div class="social" style="margin-left: -39px;">
                    <ul>
                        <li><a href="https://www.facebook.com/nayeemcyber/" target="_blank"><i class="fab fa-facebook"></i></a> </li>
                        <li><a href=""><i class="fab fa-twitter"></i></a> </li>
                        <li><a href=""><i class="fab fa-youtube-square"></i></a> </li>
                        <li><a href=""><i class="fab fa-google-plus"></i></a> </li>
                        <li><a href=""><i class="fab fa-linkedin"></i></a> </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p style="color: white; padding: 50px 0px 10px 0px;">
                    Copyright &copy;<script type="text/javascript">document.write(new Date().getFullYear())</script> @IBF IT
                </p>
            </div>
        </div>
    </div>

</section>
<!--go to up-->
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="gotoup">
                <img src="image/scrolup.jpg" style="width: 40px; height: 40px;">
            </div>
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="text/javascript">
    $(document).ready(function () {
       $(window).scroll(function () {
          if($(this).scrollTop()>300){
              $('.gotoup').fadeIn();
          }else {
              $('.gotoup').fadeOut();
          }
       });
       $('.gotoup').click(function () {
          $('html,body').animate({scrollTop:0},500);
       });
    });
</script>




<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>
