.header{
    background:#2874A6 ;

}
.footer{
    background: #222222;
    padding: 50px 0px 10px 0px;
}
.social{

}
.social ul li{
    text-decoration: none;
    display: inline-block;

 }
.social ul li a{
    border-radius: 50px;

}
.social ul li a i{
     border-radius: 50px;
     padding: 10px;
     background:#1CA261;
     color: white;

 }
.social ul li a i:hover{

    padding: 12px;
    background:#2A70A1;
    color: white;

}
.gotoup{
    bottom: 10px;
    right: 10px;
    position: fixed;
    cursor: pointer;
}
.toplogo{
   width: 100%;
    height: 110%;

}
.contact{
    text-align: right;
}
.top{
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: #F0F3F4;
}
.card-text{
    text-decoration:none;
}
.link{
    text-align: center;
}
.notice_board{
    padding-top: 10px;
}
.d_aboutus{
    padding-top: 10px;
}
.admission_1{
padding-left: 50px;
}